URxvt*font:         xft:monospace:size=9:antialias=true
URxvt*boldFont:     xft:monospace:size=9:antialias=true
URxvt.letterSpace:  -1
Xft.autohint:       true
Xft.lcdfilter:      cddefault
Xft.hintstyle:      hintfull
Xft.hinting:        true
Xft.antialias:      true
Xft.rgba:           rgb
XTerm*faceName:     monospace:size=9:antialias=true
XTerm*bellIsUrgent: true
URxvt*urgentOnBell: true
XTerm*termName:     xterm-256color
URxvt*termName:     rxvt-unicode
URxvt*scrollBar:    false
Xcursor.size:       16
URxvt.print-pipe:   "cat > /dev/null"

#define t_black           #000000
#define t_grey            #666666
#define t_red             #c82829
#define t_brightred       #ff3334
#define t_green           #718c00
#define t_brightgreen     #9ec400
#define t_yellow          #f5871f
#define t_brightyellow    #eab700
#define t_blue            #4271ae
#define t_brightblue      #4271ae
#define t_magenta         #8959a8
#define t_brightmagenta   #b777e0
#define t_cyan            #3e999f
#define t_brightcyan      #54ced6
#define t_lightgrey       #d6d6d6
#define t_white           #fdf6e3

*color0:            t_black
*color8:            t_grey
*color1:            t_red
*color9:            t_brightred
*color2:            t_green
*color10:           t_brightgreen
*color3:            t_yellow
*color11:           t_brightyellow
*color4:            t_blue
*color12:           t_brightblue
*color5:            t_magenta
*color13:           t_brightmagenta
*color6:            t_cyan
*color14:           t_brightcyan
*color7:            t_lightgrey
*color15:           t_white

*cursorColor:       t_grey
*background:        t_white
*foreground:        t_black
