Xft.autohint:            true
Xft.lcdfilter:           cddefault
Xft.hintstyle:           hintfull
Xft.hinting:             true
Xft.antialias:           true
Xft.rgba:                rgb
XTerm*faceName:          monospace:size=11:antialias=true
XTerm*bellIsUrgent:      true
XTerm*termName:          xterm-256color
XTerm*scrollBar:         false
Xcursor.size:            16
XTerm*selectToClipboard: true
XTerm*cursorColor:       #3c3836
! https://raw.githubusercontent.com/morhetz/gruvbox-contrib/master/xresources/gruvbox-light.xresources
! hard contrast: *background: #f9f5d7
XTerm*background: #fbf1c7
! soft contrast: *background: #f2e5bc
XTerm*foreground: #3c3836
! Black + DarkGrey
XTerm*color0:  #fdf4c1
XTerm*color8:  #928374
! DarkRed + Red
XTerm*color1:  #cc241d
XTerm*color9:  #9d0006
! DarkGreen + Green
XTerm*color2:  #98971a
XTerm*color10: #79740e
! DarkYellow + Yellow
XTerm*color3:  #d79921
XTerm*color11: #b57614
! DarkBlue + Blue
XTerm*color4:  #458588
XTerm*color12: #076678
! DarkMagenta + Magenta
XTerm*color5:  #b16286
XTerm*color13: #8f3f71
! DarkCyan + Cyan
XTerm*color6:  #689d6a
XTerm*color14: #427b58
! LightGrey + White
! XTerm*color7:  #7c6f64
XTerm*color7:  #5a4e43
XTerm*color15: #3c3836
