!black
URxvt*color0:  rgb:16/16/16
URxvt*color8:  rgb:85/7B/6F
!red
URxvt*color1:  rgb:e5/78/6d
URxvt*color9:  rgb:9d/2a/3a
!green
URxvt*color2:  rgb:ca/e6/82
URxvt*color10: rgb:8b/be/34
!brown/yellow
URxvt*color3:  rgb:a5/2a/2a
URxvt*color11: rgb:8b/45/13
!blue
URxvt*color4:  rgb:52/83/d7
URxvt*color12: rgb:3b/5d/9a
!magenta
URxvt*color5:  rgb:b6/98/d9
URxvt*color13: rgb:a5/7a/c4
!cyan
URxvt*color6:  rgb:a8/c6/f2
URxvt*color14: rgb:5d/a7/e1
!white
URxvt*color7:  rgb:f6/f3/e8
URxvt*color15: rgb:d3/d7/cf

URxvt*font:        xft:Source Code Pro for Powerline-9
URxvt*scrollBar:   false
URxvt*urlLauncher: ~/bin/www
URxvt*transparent: false
URxvt*fading:      40
URxvt*background:  #feffd7
URxvt*foreground:  #1c1c1c
URxvt.perl-ext-common: default,clipboard
URxvt.perl-ext: default,clipboard
URxvt*perl-ext-common: default,clipboard
URxvt*perl-ext: default,clipboard

URxvt*letterSpace: -1

