[Desktop Entry]
Name=Slack
Exec=slack %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/slack;
